.paragraph {
  font-size: clamp(20px, 6vw, 50px);
  font-weight: bold;
  color: #4A433D;
  max-width: 1200px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;

  .word {
    margin-right: 12px;
    margin-top: 12px;
    position: relative;

    .shadow {
      position: absolute;
      opacity: 0.3;
    }
  }
}

@media (max-width: 933px) and (orientation: landscape) {
  .paragraph {
    font-size: 0.95rem;
    line-height: 1.7;
  }
}